@using TicketingSystem.Web.Models.Projects;
@model List<ProjectViewModel>


@if (Model.Count == 0)
{
    <h2 class="text-center">There are no projects.</h2>
}
else
{

    @if (this.User.IsInRole("Administrator"))
    {
        <div>
            <a class="ml-2 btn btn-primary" asp-area="Administration" asp-controller="Project" asp-action="Create">Create project</a>
        </div>
        <br />
    }

    <div class="position-relative">
        <div class="row">
            @foreach (var project in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <h4>@project.Name</h4>
                            <br />

                            <a asp-controller="Project" asp-action="Get" asp-route-id="@project.Id"
                       class="btn btn-success">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}