@using TicketingSystem.Web.Models.Tickets;

@model List<TicketViewModel>

<h2 class="text-center">All tickets</h2>
<hr />

<partial name="TicketListPartial" />


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}